.Uiux {
    padding: 90px 30px;
    overflow: hidden;
    .wrapUiux {
        display: grid;
        grid-template-columns: 55% auto;
    }
    .info {
        padding: 20px;
        align-items: flex-start;
        h1 {
            color: #ff9c07;
        }
        p {
            font-weight: 100;
            font-size: 1.3em;
        }
    }
    .interface {
        margin-top: 80px;
        .phone {
            height: 450px;
            width: 240px;
            background-color: white;
            border-radius: 5px;
            transition: all ease 200ms;
            .content {
                &::-webkit-scrollbar {
                    width: 9px;
                    height: 5px;
                    background-color: transparent;
                    z-index: 99999;
                    position: fixed;
                }

                &::-webkit-scrollbar-thumb {
                    height: 5px;
                    background-color: #4968af;
                }
            }
        }
    }
    @media screen and (max-width: 900px) {
        .wrapUiux {
            grid-template-columns: 100%;
            grid-template-rows: min-content min-content;
        }
        .interface {
            // transform: scale(0.6) translateY(-250px) translateX(40%);
        }
    }
}
