.test h1,
.test2 h1 {
    animation-name: zoomOut;
}
.zoomIn {
    animation-name: zoomIn !important;
}
.bonarja {
    position: relative;
    // overflow: hidden;
    &.finishIntro {
        overflow-y: auto;
    }
}
.bonarja .tween {
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 0 !important;
    position: relative;
    left: calc(50% - 50px);
}
#trigger {
    position: absolute;
    left: 0;
    top: 0;
    overflow-y: scroll;
    z-index: 9999;
    // pointer-events: none;
}
.Content {
    height: 1200px;
    width: 100%;
    background-color: #28292f;
}
h1 {
    font-size: 4em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    position: relative;
    color: #e0e0e0;
}
p {
    color: #e0e0e0;
}

// .Me .Glitch {
//     box-shadow: 0 7px 20px -1px rgba(0, 0, 0, 0.58);
// }
