#hero {
    background-color: cornflowerblue;
}
.test,
.test2 {
    padding-left: 50px;
}

.test h1,
.test2 h1 {
    animation-name: zoomOut;
}
.zoomIn {
    animation-name: zoomIn !important;
}
.bonarja.finishIntro {
    overflow-y: auto;
}
.tween {
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 0 !important;
    position: relative;
    left: calc(50% - 50px);
}
.test {
    width: 100%;
    height: 200px;
    background-color: cadetblue;
}
