@font-face {
    font-family: foundersGrotesk;
    src: url(/fonts/founders-grotesk-web-regular.woff);
    font-weight: 100;
}
@font-face {
    font-family: foundersGrotesk;
    src: url(/fonts/founders-grotesk-web-medium.woff);
    font-weight: 400;
}
@font-face {
    font-family: foundersGrotesk;
    src: url(/fonts/founders-grotesk-web-semibold.woff);
    font-weight: bold;
}

html,
body,
.MainWrap {
    height: 100%;
    width: 100%;
}
body {
    overflow: hidden;
    margin: 0;
    background-color: #28292f;
}
div {
    display: block;
}
* {
    font-family: foundersGrotesk, sans-serif;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 12px;
    height: 5px;
    background-color: transparent;
    z-index: 99999;
    position: fixed;
}

::-webkit-scrollbar-thumb {
    height: 5px;
    background-color: #d4826f;
}
.cover {
    width: 100%;
    height: 100%;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.center.y {
    flex-direction: column;
}
.flexList {
    font-display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
}
.relative {
    position: relative;
}
#root {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Transition {
    transition: all ease 200ms;
}
.Section {
    max-width: 1300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
